<h1>register</h1>

<form action="" method="POST" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="enter name" required />
  <br /><br />
  <input type="email" name="email" placeholder="enter email" required />
  <br /><br />
  <!-- <input type="file" name="image" placeholder="enter name" required />
  <br /><br /> -->
  <input
    type="password"
    name="password"
    placeholder="enter password"
    required
  />
  <br /><br />
  <input
    type="password"
    name="passwordConfirm"
    placeholder="enter password"
    required
  />
  <br /><br />
  <input type="submit" value="register" />
  <br /><br />
</form>

<% if(typeof message !== "undefined") { %>
<p style="color: green"><%= message %></p>
<% } %>
